name: Build and Test

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

defaults:
  run:
    shell: bash

permissions:
  pull-requests: write

jobs:
  native-build:
    name: Build native on ${{ matrix.os }} - ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        java: [ 21, 25 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Reclaim disk space
        working-directory: .github
        shell: bash
        run: scripts/ci-reclaim-disk-space.sh

      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java }}
          distribution: mandrel # See 'Supported distributions' for available options
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: maven
          native-image-job-reports: true
          native-image-pr-reports: true
          native-image-pr-reports-update-existing: true

      - name: Build with Maven
        run: ./mvnw -B formatter:validate clean install -Pnative

  build:
    name: Build on ${{ matrix.os }} - ${{ matrix.java }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: [17, 21, 25]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: Reclaim disk space
        working-directory: .github
        shell: bash
        run: scripts/ci-reclaim-disk-space.sh

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
          cache: maven

      - name: Build with Maven
        run: ./mvnw -B formatter:validate clean install
